body {
  padding: 0px;
  margin: 0px; }

.page {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: #fff;
  font-size: 16px;
  -webkit-transition: opacity 0.2s ease-out 0s;
  -moz-transition: opacity 0.2s ease-out 0s;
  -o-transition: opacity 0.2s ease-out 0s;
  transition: opacity 0.2s ease-out 0s; }
  .page.jp.vocab .vocab-list {
    -webkit-transition: opacity 0.2s ease-out 0s;
    -moz-transition: opacity 0.2s ease-out 0s;
    -o-transition: opacity 0.2s ease-out 0s;
    transition: opacity 0.2s ease-out 0s; }
  .page.jp.word-edit .word-input {
    margin-top: 18px;
    font-size: 2em;
    position: relative;
    padding: 6px 0px !important;
    border: none !important;
    overflow: visible !important; }
  .page.jp.word-edit .top, .page.jp.word-edit .bottom {
    display: block;
    width: 100%;
    height: 50%; }
  .page.jp.word-edit .fg-inputs {
    display: block;
    font-size: 2em;
    top: 0px;
    margin: 0px; }
    .page.jp.word-edit .fg-inputs .fg-group {
      display: inline-block;
      text-align: center;
      margin: 4px 0px;
      -webkit-transition: all 0.5s ease-out 0s;
      -moz-transition: all 0.5s ease-out 0s;
      -o-transition: all 0.5s ease-out 0s;
      transition: all 0.5s ease-out 0s; }
      .page.jp.word-edit .fg-inputs .fg-group.expanded {
        margin: 4px; }
      .page.jp.word-edit .fg-inputs .fg-group .fg-input {
        font-size: 14px;
        height: 14px;
        width: 0;
        border: none;
        padding: 0px;
        opacity: 0;
        background-color: #e8e8e8;
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s; }
        .page.jp.word-edit .fg-inputs .fg-group .fg-input.expanded {
          width: 60px;
          opacity: 1; }

.overlay {
  display: block;
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 1; }
  .overlay .popup {
    position: absolute;
    background: #fff;
    left: 10%;
    top: 40%;
    height: 20%;
    width: 80%;
    text-align: center;
    padding: 24px;
    box-sizing: border-box; }
    .overlay .popup .prompt {
      display: block; }
    .overlay .popup .btns {
      display: block;
      margin-top: 10px; }
      .overlay .popup .btns .popup-btn {
        display: inline-block;
        width: 10%;
        padding: 8px 12px;
        margin: 5px;
        background: #000;
        color: #fff; }

a.btn {
  display: block; }

select option[disabled] {
  display: none; }

.hidden {
  z-index: 0;
  opacity: 0; }

.show {
  z-index: 1;
  opacity: 1; }

.display-none {
  display: none !important; }

.loading:after {
  display: block;
  position: absolute;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #000;
  color: #fff;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -25px;
  content: "loading..."; }

/*# sourceMappingURL=style.css.map */
